 body{
    background-color: black;
    /* background-image: url(../Images/background-image.png); */
    background-repeat: no-repeat;
      background-size: cover;
 }

.bg___one{
    background-image: url(../Images/netempire.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 4rem;
    border-bottom: 1px solid red;
}

.btm____text  p {
    background-color: #000;
    color: #fff;
}

.Vedio{
    background-color: #fff;
    
    
}
.images{
    padding-bottom: 6rem;
}
.img_google{
    border: 1px solid red;
}
.col_2_12{
    border: 1px solid red;
}



