.container{
    color: white !important;

}
.container-1{
    text-align: center;
}
.container1_1 {
    background-color:#5b302a;
    height: 2rem;
    width: 10rem;
    -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
    clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)  
}
.container1_2{
    background-color:#5b302a;
    height: 2rem;
    width: 10rem;
    -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
    clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)  
}

    .container1_3{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
    .container1_4{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
    .container1_5{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
    .container1_6{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
    .container1_7{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
    .container1_8{
        background-color:#5b302a;
        height: 2rem;
        width: 10rem;
        -webkit-clip-path: polygon(1% 20%, 100% 22%, 100% 65%, 88% 82%, 0 82%);
        clip-path: polygon(-23% -176%, 114% 25%, 100% 48%, 88% 82%, 0 82%)
        
    }
.container_1_1_1{
    
}